body {
    background-color: #010125;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-right: 400px;
    padding-top: 10px;
}

.rectangle {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-color: #d5d1d1;
    padding: 20px;
  }

#editButton {
    background-color: rgb(192, 188, 188);
    font-size: 35px;
    position: absolute;
    top: 20px; 
    left: 95px;
    font-family: 'Share Tech Mono', monospace;
}

#submitButton {
    background-color: rgb(192, 188, 188);
    font-size: 35px;
    position: absolute;
    font-family: 'Share Tech Mono', monospace;
}

#billForm {
    position: absolute;
    bottom: 100px;
    font-size: 25px;
}

#billList {
    position: absolute;
    top: 100px;
    font-size: 25px;
}

#asteroidContainer {
    position: absolute;
    top: 100px; 
    left: 500px; 
    z-index: 1; 
}

.asteroidImg {
    width: 275px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 20px;
}