.astroidvectors-icon {
  height: 122.2px;
  width: 125.5px;
  position: relative;
}
.a,
.b {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
  transform-origin: 0 0;
}
.b {
  height: 32px;
  top: -20.95px;
  left: 11.58px;
  transform: rotate(-34deg);
}
.a {
  height: 29px;
  width: 15px;
  top: -28.58px;
  right: -13.59px;
  transform: rotate(34deg);
  z-index: 2;
}
.option-a-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.i {
  width: 23.7px;
  height: 32px;
  top: 8.35px;
  left: 65.2px;
  transform: rotate(-20.4deg);
}
.i,
.l,
.l1,
.spacer {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
  transform-origin: 0 0;
}
.l {
  height: 29px;
  top: -2.23px;
  left: 88.9px;
  transform: rotate(-6.8deg);
}
.l1,
.spacer {
  height: 31px;
  top: -3.59px;
  right: 67.43px;
  transform: rotate(6.8deg);
}
.spacer {
  width: 15px;
  height: 29px;
  top: 0.09px;
  right: 45.9px;
  transform: rotate(20.4deg);
  z-index: 1;
}
.asteroid1 {
  width: 199px;
  box-shadow: 0 4px 4px #bf4e0d;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl-4) var(--padding-17xl-7) var(--padding-19xl-4)
    var(--padding-17xl-8);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-fira-mono);
}
@media screen and (max-width: 450px) {
  .a,
  .b,
  .i,
  .l,
  .l1,
  .spacer {
    font-size: var(--font-size-lgi);
  }
}
