.astroidvectors-icon1 {
  width: 125.5px;
  height: 122.2px;
  position: relative;
}
.b1,
.i1 {
  height: 32px;
}
.b1 {
  position: absolute;
  margin: 0 !important;
  top: 11.45px;
  left: 45.38px;
  display: inline-block;
  transform: rotate(-34deg);
  transform-origin: 0 0;
}
.i1 {
  width: 23.7px;
  top: 2.35px;
  left: 62.2px;
  transform: rotate(-20.4deg);
  z-index: 1;
}
.c,
.i1,
.l2,
.l3,
.spacer1 {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
  transform-origin: 0 0;
}
.l2 {
  height: 29px;
  top: -8.23px;
  left: 85.9px;
  transform: rotate(-6.8deg);
  z-index: 2;
}
.c,
.l3,
.spacer1 {
  height: 31px;
  top: -9.59px;
  right: 70.43px;
  transform: rotate(6.8deg);
}
.c,
.spacer1 {
  width: 15px;
  height: 29px;
  top: -5.91px;
  right: 48.9px;
  transform: rotate(20.4deg);
  z-index: 1;
}
.c {
  top: 3.82px;
  right: 26.11px;
  transform: rotate(34deg);
  z-index: 2;
}
.asteroid3,
.option-a-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.asteroid3 {
  align-self: stretch;
  box-shadow: 0 4px 4px #bf4e0d;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-19xl-4) var(--padding-18xl) var(--padding-19xl-4)
    var(--padding-17xl-8);
  position: relative;
}
.option-a-background {
  width: 199px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-fira-mono);
}
@media screen and (max-width: 450px) {
  .b1,
  .c,
  .i1,
  .l2,
  .l3,
  .spacer1 {
    font-size: var(--font-size-lgi);
  }
}
