@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-fira-mono: "Fira Mono";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-45xl: 64px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;

  /* Gaps */
  --gap-2xl: 21px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-sm: 14px;
  --gap-base-5: 16.5px;
  --gap-122xl: 141px;
  --gap-16xl: 35px;
  --gap-51xl: 70px;
  --gap-120xl: 139px;
  --gap-50xl: 69px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-347xl: 366px;
  --padding-219xl: 238px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-19xl-4: 38.4px;
  --padding-17xl-7: 36.7px;
  --padding-17xl-8: 36.8px;
  --padding-19xl-2: 38.2px;
  --padding-3xs: 10px;
  --padding-18xl: 37px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-584xl: 603px;
  --padding-2xl: 21px;
  --padding-236xl: 255px;
  --padding-373xl: 392px;
  --padding-45xl: 64px;

  /* Border radiuses */
  --br-3xs: 10px;
}
